CDSAPI_URL=https://cds.climate.copernicus.eu/api
CDSAPI_KEY=269a0ce5-2e15-432d-89e6-29e54ee70469

CACHE_DIR=cache_data
TEMP_DIR=temp_downloads
CACHE_MAX_SIZE_GB=1

DEFAULT_BBOX_WEST=-11
DEFAULT_BBOX_SOUTH=27
DEFAULT_BBOX_EAST=5
DEFAULT_BBOX_NORTH=45